.footer-container{
    display: flex;
}
.footer-section{
    padding-bottom: 16px;
    background-color: var(--background-nav);
}
.footer-section__logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 56px;
}
.footer-icon{
    width: 36px;
    height: 36px;
}
.footer-logo{
    margin-bottom: 65px;
}
.footer-icon__text{
    font-size: 20.8px;
    line-height: 0.85;
}
.footer-icon__text--color{
    font-size: 16.9px;
    line-height: 1;
}
.footer__phone{
    margin-bottom: 40px;
}
.list-item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.footer-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: -0.02em;
    color: var(--text-color-white);
    transition:
    color var(--cubic);
    cursor: pointer;
    &:hover,
    &:focus{
        color: var(--text-color-yellow);
    }
}
.footer-button{
   margin-top: 0;
}
.footer-copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-white);
}
.footer-about{
    display: flex;
    margin-left: 150px;
    margin-top: 110px;
}
.footer-about__section{
    width: 203px;
    &:not(:last-child){
        margin-right: 80px;
    }
}
.footer-title{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--background--color-white);
    margin-bottom: 16px;
}
.footer-title__item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-white);
    transition:
    color var(--cubic);
    cursor: pointer;
    &:hover,
    &:focus{
        color: var(--text-color-yellow);
    }
}
.footer-list__item{
    &:not(:last-child){
        margin-bottom: 10px;
    }
}
.footer-section__button{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 46px;
    margin-bottom: 75px;
}
.footer-icon__link{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--background--color-white);
    transition:
    background-color var(--cubic),
    color var(--cubic);
    cursor: pointer;
    &:hover,
    &:focus{
        color: var(--text-color-yellow);
        background-color: var(--text-color-yellow);
    }
}
.footer-icon__link-svg{
    width: 18px;
    height: 18px;
}
.footer-list{
    display: flex;
}
.footer-list__item-link{
    &:not(:last-child){
        margin-right: 20px;
    }
}
