:root{
    --background-nav: #344265;
    --text-color-white: #F8F8F8;
    --text-color-yellow: #FAFF00;
    --text-color-blue: #485982;
    --background--color-white: #fff;
    --text-color-list: #5F719F;
    --cubic: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}