<footer class="footer-section">
        <section class="container ">
            <div class='footer-container'>
                <div class="footer-section__logo">
                    <ul class="list">
                        <li>
                            <a class="site-nav__icon-link link footer-logo" href="/">
                                <svg class="site-nav__icon footer-icon" width="36" height="36">
                                <use href="./images/icons.svg#icon-settings_1"></use>
                                </svg>
                                <div class="site-nav__box">
                                <span class="site-nav__text footer-icon__text">ALPHA</span>
                                <span class="site-nav__text footer-icon__text--color color">APPLIANCE REPAIR</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="site-nav__link-phone footer__phone link" href="">
                                <svg class="header--input__icon" width="18" height="18">
                                <use href="./images/icons.svg#icon-phone"></use>
                                </svg>
                                <span class="site_nav__phone">+1 226-370-0170</span>
                            </a>
                        </li>
                    </ul>
                    <address>
                        <ul class="list">
                            <li class="list-item">
                                <a class="link footer-link" href=""> Unit 4, 5267 Explorer drive,<br> Toronto, On L4W 4T7</a>
                            </li>
                            <li class="list-item">
                                <a class="link footer-link" href="">
                                    info@appliancerepairexpert.ca
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
                <div class="footer-about">
                    <div class="footer-about__section">
                        <h2 class="footer-title">ABOUT COMPANY</h2>
                        <ul class="list">
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Maintance Plans</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Coupons</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Review</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">FAQ</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Blog</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-about__section">
                        <h2 class="footer-title">CUSTOMER SERVICES</h2>
                        <ul class="list">
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Residential</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Commercial</a>
                            </li>
                            <li class="footer-list__item">
                                <a  href="/" class="footer-title__item link">Repair</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Installation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-about__section">
                        <h2 class="footer-title">HELP AND SUPPORT</h2>
                        <ul class="list">
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Appliance Repair Warranty</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Cancellation Policy</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Privacy Policy</a>
                            </li>
                            <li class="footer-list__item">
                                <a href="/" class="footer-title__item link">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-section__button">
                <button class="site-nav__button-book footer-button">
                    <svg class="site-nav-icon__set" width="18" height="18">
                    <use href="./images/icons.svg#icon-settings"></use>
                    </svg>
                    BOOK ONLINE
                </button>
                <ul class="list footer-list">
                    <li class="footer-list__item-link">
                        <a class="footer-icon__link" href="">
                            <svg class="footer-icon__link-svg">
                                <use href="./images/icons.svg#icon-youtube"></use>
                              </svg>
                        </a>
                    </li>
                    <li class="footer-list__item-link">
                        <a class="footer-icon__link" href="">
                            <svg class="footer-icon__link-svg">
                                <use href="./images/icons.svg#icon-faceboock"></use>
                              </svg>
                        </a>
                        </li>
                    <li class="footer-list__item-link">
                        <a class="footer-icon__link" href="">
                            <svg class="footer-icon__link-svg">
                                <use href="./images/icons.svg#icon-pinter"></use>
                              </svg>
                        </a>
                    </li>
                    <li class="footer-list__item-link">
                        <a class="footer-icon__link" href="">
                            <svg class="footer-icon__link-svg">
                                <use href="./images/icons.svg#icon-instagram"></use>
                              </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <span class="footer-copyright">All rights reserved © 2005-2021</span>
        </section>
</footer>