<main>
    <section class="hero">
        <div class="container container_position">
            <div class="hero-nav">
                <h1 class="hero-title">Appliance Repair Service</h1>
                <h2 class="hero-title__text">Your Local Appliance Repair Company</h2>
                <form action="">
                        <ul class="hero-list">
                            <li class="hero-list__item">
                                <label class="hero-checkbox__item">
                                    <input checked class="visually-hidden hero-label__checkbox" type="checkbox" name="checkbox" >
                                    <span class="hero-label__checkbox"></span>
                                    <span class="hero-text">Repair of any complexity of all brands of equipment</span>
                                </label>
                            </li>
                            <li class="hero-list__item">
                                <label class="hero-checkbox__item">
                                    <input checked class="visually-hidden hero-label__checkbox" type="checkbox" name="checkbox" >
                                    <span class="hero-label__checkbox"></span>
                                    <span class="hero-text">Affordable rates for various appliance repairs</span>
                                </label>
                            </li>
                            <li class="hero-list__item">
                                <label class="hero-checkbox__item">
                                    <input checked class="visually-hidden hero-label__checkbox" type="checkbox" name="checkbox" >
                                    <span class="hero-label__checkbox"></span>
                                    <span class="hero-text">Licensed, trained techs with years of experience</span>
                                </label>
                            </li>
                            <li class="hero-list__item">
                                <label class="hero-checkbox__item">
                                    <input checked class="visually-hidden hero-label__checkbox" type="checkbox" name="checkbox" >
                                    <span class="hero-label__checkbox"></span>
                                    <span class="hero-text">Same/next-day appointment</span>
                                </label>
                            </li>
                        </ul>
                </form>
                <button class="hero-button">
                    <svg class="site-nav-icon__set color-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                      REQUEST A CALL
                </button>
            </div>
            <div class="hero-image"></div>
        </div>
    </section>
</main>